# Virtual Environment
venv/
ENV/
env/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# SQLite Database Files
*.db
*.sqlite3

# VS Code & IDE Settings
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db
aurorah.db
/__pycache__
/__pycache__
aurorah.db
__pycache__/main.cpython-314.pyc
